.container{
    border: 1px solid ;
    width: 50%;
    height: auto;
    text-align: center;
}

.test{
    color: black;
    flex-direction: row;
}

.form-control{
    width: 70px;
}

.data{
    margin: 10px;
    display: inline-block; 
}

button{
    margin-bottom: 10px;
}
.box{
    border: 1px solid grey;
    margin: 10px;
}