<app-header></app-header>

<div class="account-page pt-120 pb-120">
    <div class="container">
        <div class="fromarea">
            <h3>Kitchen Remodel Estimator</h3>
            <form>
                <h4>Section</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Client First Name*</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Client Last Name*</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                placeholder="Last Name">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Client Email*</label>
                            <input type="email" class="form-control fild" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Client Number*</label>
                            <input type="text" class="form-control fild1" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Phon Number ">
                        </div>
                    </div>

                </div>
                <h4>Materials</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Rough Building Materials*</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="4000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cabinets (Wholesale Price)</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="2000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">New Electric Cooktop</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="1000">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Purchase 2 cm quartz countertop slabs</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="2000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Purchase Standard Kitchen Appliances</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="4500">
                        </div>
                    </div>

                </div>
                <h4>Labor</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Demo Old Kitchen</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="1000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Misc Carpentry</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="2000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Replace Kitchen Drywall (as necessary)</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="750">

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Standard Electrical Work</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="1,800">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Install new electric cooktop</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="750">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cabinet Assembly</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="400">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cabinet Delivery</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="350">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Installation of All Kitchen Cabinets</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="4000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Installation of all Appliances</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="1500">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Upgrade Existing Electrical</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="0">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Upgrade Existing Plumbing</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="0">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Install New Tile Floor</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="2,000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Install Tile Backsplash</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="0">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Fabricate and Install New Countertop</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="2,000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Paint Kitchen</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="1000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Cleanup and Disposal</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="1000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Project Management</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="0">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Additional Misc Costs</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="0">
                        </div>
                    </div>
                    <div class="border-bottom mt-3 mb-3"></div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Contractor Markup</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder=".50">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Labor and Materials Plus Markup</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="43125.0000">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Sales Tax</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder=".10">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Estimated Total For Client</label>
                            <input type="text" class="form-control fild2" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="47437.500000">
                        </div>
                    </div>



                </div>
                <button type="submit" class="btn btn-primary"><i class="bi bi-download"></i> Download PDF</button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>