<app-header></app-header>
<!-- Homefix reg Area Start -->

<div>
    <div class="d-block conta">
        <div class="card border-0">
            <div class="card-body px-3 px-md-5 py-5">
                <div class="text-center py-3">
                    <img src="./assets/images/Group2089.png" alt="" />
                </div>
                <div class="text-center">
                    <p class="fs-3 fw-bold text-dark">
                        Verify your email to proceed
                    </p>
                    <p>
                        We sent an email to the address: tory@gmail.com please check
                        your email and click on the link provided to verify your
                        address
                    </p>
                    <p>
                        <a href="#" class="btn btn-link text-decoration-none" style="color: #00A3FF;">Change your
                            email</a>
                    </p>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button" style="background-color: #00A3FF;">Resent
                            verification email</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Homefix reg Area End -->
<app-footer></app-footer>