<app-header></app-header>
<div style="padding: 10px;">
    <div class="row">
        <div class="col-md-6 col-6 my-3 my-lg-0">
            <div class="text-center ">

                <img src="./assets/images/Rectangle128.png " class="img-fluid" width="356"
                    alt="">
            </div>
        </div>
        <div class="col-md-6 col-6 my-3 my-lg-0">
            <div class="text-center text-md-start">
                <img src="./assets/images/Rectangle129.png" class="img-fluid" width="356"
                    alt="">
            </div>

        </div>
    </div>
    <div class="row my-lg-3">
        <div class="col-md-6 col-6 my-3 my-lg-0">
            <div class="text-center ">

                <img src="./assets/images/Rectangle130.png " class="img-fluid" width="356"
                    alt="">
            </div>
        </div>
        <div class="col-md-6 col-6 my-3 my-lg-0">
            <div class="text-center text-md-start">
                <img src="./assets/images/Rectangle131.png" class="img-fluid" width="356"
                    alt="">
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>
