<app-header></app-header>
<!-- Homefix slider Area Start -->
<div class="profile-holder pt-60 pb-60">
    <div class="container">
        <div class="row mt--30">
            <div class="col-lg-5 mt-30">
                <div class="profile-box">
                    <span class="badge"> Top worker</span>

                    <div class="aurthorBox">
                        <div class="thumb">
                            <img src="assets/images/profile.png" alt="">
                        </div>
                        <h4> Musak Khan</h4>
                        <div class="rev">
                            <span> 4.5 <i class="icofont-star"></i> (2 reviews)</span>
                        </div>
                        <a href="#" class="available mt-1">
                            <i class="icofont-wallet pe-1"></i> Available now
                        </a>

                        <div class="button-group">
                            <a href="#0" class="button1">Availability </a>
                            <a href="#0" class="button2">Message </a>
                        </div>
                    </div>
                    <ul class="address">
                        <li>
                            <span><i class="icofont-location-pin pe-1"></i> From: </span>
                            <span>Los Angeles</span>
                        </li>
                        <li>
                            <span><i class="icofont-bag-alt pe-1"></i> Work: </span>
                            <span> Plumber</span>
                        </li>
                    </ul>
                    <div class="infobox">
                        <h5> About Me</h5>
                        <p>
                            Plumbers install and repair pipes that supply water and gas to, as well as carry
                            waste away from, homes and businesses. They also install plumbing fixtures such as
                            bathtubs, sinks, and toilets, and appliances, including dishwashers and washing
                            machines. Experienced plumbers train apprentices and supervise helpers
                        </p>
                    </div>
                    <div class="tag">
                        <h5> Skill</h5>
                        <ul>
                            <li><a href="#0">Leak Repair </a></li>
                            <li><a href="#0">Sewer Repair </a></li>
                            <li><a href="#0">Toilet Repair </a></li>
                            <li><a href="#0">Sewer Repair </a></li>
                            <li><a href="#0">Toilet Repair </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mt-30">
                <div class="profile-tab-box">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Available for</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Reviews</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">Previous Work<i class="icofont-rounded-double-right ms-2"></i>
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="proj_single_items mt-30 ">
                                        <div class="proj_single_inner">
                                            <div class="proj_single_thumb">
                                                <img src="assets/images/home/proj_1.png" alt="">
                                            </div>
                                            <div class="proj_single_content">
                                                <div class="proj_single_cont_inner">
                                                    <!-- clients thumb -->
                                                    <div class="proj_client_thumb">
                                                        <img src="assets/images/home/proj_client_img.png" alt="">
                                                    </div>
                                                    <!-- clients name -->
                                                    <a href="#0" class="proj_client_name">
                                                        <h4 class="client_name">Bijoy Roy</h4>
                                                        <span>top worker</span>
                                                    </a>
                                                    <!-- ratting area -->
                                                    <div class="proj_ratting">
                                                        <span class="proj_raing_per">4.1</span>
                                                        <span class="proj_ver_star"><i
                                                                class="icofont-ui-rating"></i></span>
                                                        <span class="proj_reviews">( 11 reviews)</span>
                                                    </div>
                                                </div>
                                                <div class="proj_single_item_title">
                                                    <a href="#0">
                                                        <h3 class="proj_single_item_tilte">You will get solution
                                                            for plumbing </h3>
                                                    </a>
                                                </div>
                                                <div class="group-btn">
                                                    <a href="#0" class="button1 ">View Details</a>
                                                    <a href="contactprice">
                                                        <i class="icofont-chat pe-2"></i>
                                                        Contact for price
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="proj_single_items mt-30 ">
                                        <div class="proj_single_inner">
                                            <div class="proj_single_thumb">
                                                <img src="assets/images/home/proj_1.png" alt="">
                                            </div>
                                            <div class="proj_single_content">
                                                <div class="proj_single_cont_inner">
                                                    <!-- clients thumb -->
                                                    <div class="proj_client_thumb">
                                                        <img src="assets/images/home/proj_client_img.png" alt="">
                                                    </div>
                                                    <!-- clients name -->
                                                    <a href="#0" class="proj_client_name">
                                                        <h4 class="client_name">Bijoy Roy</h4>
                                                        <span>top worker</span>
                                                    </a>
                                                    <!-- ratting area -->
                                                    <div class="proj_ratting">
                                                        <span class="proj_raing_per">4.1</span>
                                                        <span class="proj_ver_star"><i
                                                                class="icofont-ui-rating"></i></span>
                                                        <span class="proj_reviews">( 11 reviews)</span>
                                                    </div>
                                                </div>
                                                <div class="proj_single_item_title">
                                                    <a href="#0">
                                                        <h3 class="proj_single_item_tilte">You will get solution
                                                            for plumbing </h3>
                                                    </a>
                                                </div>
                                                <div class="group-btn">
                                                    <a href="#0" class="button1 ">View Details</a>
                                                    <a href="contactprice">
                                                        <i class="icofont-chat pe-2"></i>
                                                        Contact for price
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel"
                            aria-labelledby="pills-profile-tab">
                            <div class="review-box">
                                <div class="top-box">
                                    <h5>Reviews</h5>
                                    <p class="one">
                                        Customers rated this pro highly for <a href="#0">work quality</a>, <a
                                            href="#0">professionalism</a>, and <a href="#">responsiveness</a>.
                                    </p>
                                    <div class="info">
                                        <div class="left">
                                            <h5 class="pe-2">2 Reviews</h5>
                                            <div class="star ">
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <i class="icofont-star"></i>
                                                <span>5</span>
                                            </div>
                                        </div>
                                        <div class="right">
                                            <span>Sort By</span>
                                            <select>
                                                <option selected> Positive </option>
                                                <option>Negative</option>
                                                <option>3 Star</option>
                                                <option>2 Star</option>
                                            </select>
                                        </div>
                                    </div>

                                    <ul class="review-list pt-2">
                                        <li>
                                            <p> 5 <span><i class="icofont-star"></i></span> </p>
                                            <span class="two bg"> </span>
                                            <span> 100%</span>
                                        </li>
                                        <li>
                                            <p> 4 <span><i class="icofont-star"></i></span> </p>
                                            <span class="two"> </span> <span> 0%</span>
                                        </li>
                                        <li>
                                            <p> 3 <span><i class="icofont-star"></i></span> </p>
                                            <span class="two"> </span> <span> 0%</span>
                                        </li>
                                        <li>
                                            <p> 2 <span><i class="icofont-star"></i></span> </p>
                                            <span class="two"> </span> <span> 0%</span>
                                        </li>
                                        <li>
                                            <p> 1 <span><i class="icofont-star"></i></span> </p>
                                            <span class="two "> </span> <span> 0%</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comment-item">
                                    <div class="comment">
                                        <div class="left">
                                            <div class="thumb">
                                                <img src="assets/images/innerpage/review-1.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4>Delaw12<span class="ps-1">5 <i class="icofont-star"></i>
                                                    </span> </h4>
                                                <div class="loc">
                                                    <i class="icofont-location-pin p1-2"></i>
                                                    New York
                                                </div>
                                                <p class="pt-1">
                                                    It was an excellent experience to work with this worker.
                                                    Thank you so much for the final work and patience.
                                                </p>

                                            </div>
                                        </div>
                                        <div class="right d-xl-block d-none ">
                                            <div class="thumb">
                                                <img src="assets/images/innerpage/thumb-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="replay pt-3">
                                        <div class="comment">
                                            <div class="left">
                                                <div class="thumb">
                                                    <img src="assets/images/innerpage/review-3.png" alt="">
                                                </div>
                                                <div class="content">
                                                    <h4>Musak Khan<span class="ps-1">5 <i class="icofont-star"></i>
                                                        </span> </h4>
                                                    <div class="loc">
                                                        <i class="icofont-bag-alt p1-2"></i> Plumber
                                                    </div>
                                                    <p class="pt-1">
                                                        Thank you so much
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item">
                                    <div class="comment">
                                        <div class="left">
                                            <div class="thumb">
                                                <img src="assets/images/innerpage/review-2.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4>Linuxdeo1<span class="ps-1">5 <i class="icofont-star"></i>
                                                    </span> </h4>
                                                <div class="loc">
                                                    <i class="icofont-location-pin p1-2"></i>
                                                    New York
                                                </div>
                                                <p class="pt-1">
                                                    It was an excellent experience to work with this worker.
                                                    Thank you so much for the final work and patience.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="right d-xl-flex align-items-center d-none">
                                            <div class="thumb m-2">
                                                <img src="assets/images/innerpage/thumb-1.png" alt="">
                                            </div>
                                            <div class="thumb">
                                                <img src="assets/images/innerpage/thumb-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-item pb-0 border-bottom-0">
                                    <div class="comment">
                                        <div class="left">
                                            <div class="thumb">
                                                <img src="assets/images/innerpage/review-3.png" alt="">
                                            </div>
                                            <div class="content">
                                                <h4>shadin21<span class="ps-1">4.2 <i class="icofont-star"></i>
                                                    </span> </h4>
                                                <div class="loc">
                                                    <i class="icofont-location-pin p1-2"></i>
                                                    New York
                                                </div>
                                                <p class="pt-1">
                                                    It was an excellent experience to work with this worker.
                                                    Thank you so much for the final work and patience.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="right d-xl-block d-none">
                                            <div class="thumb">
                                                <img src="assets/images/innerpage/thumb-1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">
                            <div class="row">
                                <div class="col-6 mt-30 ">
                                    <a href="#0" class="bigthumb">
                                        <img src="assets/images/innerpage/photo-1.png" alt="">
                                    </a>
                                </div>
                                <div class="col-6 mt-30">
                                    <a href="#0" class="bigthumb">
                                        <img src="assets/images/innerpage/photo-2.png" alt="">
                                    </a>
                                </div>
                                <div class="col-6 mt-30">
                                    <a href="#0" class="bigthumb">
                                        <img src="assets/images/innerpage/photo-3.png" alt="">
                                    </a>
                                </div>
                                <div class="col-6 mt-30">
                                    <a href="#0" class="bigthumb">
                                        <img src="assets/images/innerpage/photo-4.png" alt="">
                                    </a>
                                </div>
                                <div class="col-12 text-center">
                                    <a href="#0" class="button1 viewall2 mt-30 ">View all</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Homefix slider Area End -->
<app-footer></app-footer>