<app-header></app-header>
<!-- Homefix Login Area Start -->
<section class="homefix_login_area pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="homefix_login_inner">
                    <div class="homefix_login_details">
                        <!-- login_form title-->
                        <div class="form_title">
                            <h2 class="login_form_title">Forgot your password?</h2>
                        </div>
                        <form [formGroup]="forgotForm"
                        (ngSubmit)="forgotSubmit()">
                            <!-- input email -->
                            <div class="login_from_field">
                                <div class="login_from_field_inner">
                                    <span><i class="icofont-envelope"></i></span>
                                    <input type="email" formControlName="email"
                                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email Address" name="email" id="">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.email">Please, enter valid email
                                            address.</div>
                                    </div>
                                </div>
                                <!-- submit button -->
                                <input type="submit" value="Submit">
                            </div>

                            <hr>
                            <!-- remember or sing up -->
                            <div class="remember">
                                <label for="">Not a member yet ?</label><a routerLink="/signup" style="color: #00a3ff;">Sign up now</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Homefix Login Area -->
<app-footer></app-footer>