<app-header></app-header>
<!-- Homefix slider Area Start -->
<div>
    <div class="container  my-4">
        <div class="row">

            <div class="col-xxl-4 col-xl-4 col-lg-12 col-md-12 mobile_profile_detail">
                <div *ngIf="profileData"
                    class="rounded-3 px-3 px-md-4 mx-md-3 my-3 my-md-0 my-lg-0 my-xl-0 my-xxl-0 position-sticky top-0"
                    style="border: 1px solid #DCDCDC;">
                    <p class="mt-3 text-center text-md-end text-lg-end text-xl-end text-xxl-end">
                        <!-- <span class="p-3 badge rounded-pill"
                            style="background: rgba(0, 163, 255, 0.07);color: #00A3FF; ">Top
                            worker
                        </span> -->
                    </p>
                    <div class="row mobile_profile text-center border-bottom my-3">
                        <div class="col-md-12">
                            <div class="position-relative">
                                <img [src]="profileData && profileData.avatar_url ? profileData.avatar_url : ''"
                                    onerror="this.src='./assets/images/Group2094.png'" class="img-fluid " />
                                <span
                                    class="position-absolute bottom-0 start-1 translate-middle p-2 border border-light rounded-circle profileDetailImg"
                                    style="background-color: #00DD85;">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="px-3 pt-3">
                                <p><span class="profileName">{{profileData?.fname}} {{profileData?.lname}}</span><br />
                                    <span class="profileReview">
                                        <strong>4.9</strong><img src="./assets/images/star.png" alt=""
                                            srcset=""><span>(2 reviews)</span>

                                    </span>
                                </p>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="px-md-3 ">
                                <p><span class="px-3 badge rounded-pill"
                                        style="border: 1px solid #00A3FF; color: #00A3FF; "> <img
                                            src="./assets/images/Group2043.png" alt="">
                                        Availbale Now</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 px-md-0">
                            <div class="text-md-center my-3 ">
                                <div class="d-grid d-md-block gap-3 ">
                                    <button class="btn btn-md-lg rounded-0" type="button" *ngIf="roleId && roleId==3" (click)="findPros()"
                                        style="padding: 0.375rem 2.1rem; background-color: #00A3FF; color: white;margin-right: 10px;border-radius: 3px !important;">Find
                                        Pros</button>
                                    <button class="btn btn-md-lg rounded-0" type="button" *ngIf="roleId && roleId==2"
                                        style="padding: 0.375rem 2.1rem; background-color: #00A3FF; color: white;margin-right: 10px;border-radius: 3px !important;">Availability</button>
                                    <button class="btn btn-outline-dark btn-md-lg rounded-0" type="button"
                                        style="padding: 0.375rem 2.1rem;border-color: #bebcbc;border-radius: 3px !important;"
                                        (click)="getEstimate()" *ngIf="roleId && roleId==3">Get Estimate</button>
                                    <button class="btn btn-outline-dark btn-md-lg rounded-0" type="button" *ngIf="roleId && roleId==2"
                                        style="padding: 0.375rem 2.1rem;border-color: #bebcbc;border-radius: 3px !important;"
                                        (click)="message()">Message</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row pb-1 border-bottom">
                                <div class="col-md-6 col-6">
                                    <p class="text-muted"><img src="./assets/images/Group1927.png" alt=""> From:
                                    </p>
                                </div>
                                <div class="col-md-6 col-6">
                                    <p class="text-end text-muted" *ngFor="let c of countries"
                                        [hidden]="profileData?.country_id != c.id">{{c.name}}</p>
                                </div>
                            </div>
                            <div class="row pb-2" *ngIf="roleId && roleId==2">
                                <div class="col-md-6 col-6">
                                    <p class="text-muted"><img src="./assets/images/Group1931.png" alt=""> Work:
                                    </p>
                                </div>
                                <div class="col-md-6 col-6">
                                    <p class="text-end text-muted">{{profileData?.occupation}}</p>
                                </div>
                            </div>
                            <div class="row pb-1 border-bottom mb-2" *ngIf="profileData && profileData.description">
                                <div class="col-md-12">
                                    <h1 class="text-center1 fw-light text-md-start">About Me</h1>
                                    <p style="text-align: justify;" [innerHTML]="profileData?.description"></p>
                                    <!-- <p style="text-align: justify;">Plumbers install and repair pipes that
                                        supply water and gas to, as well as carry waste away from, homes and
                                        businesses. They also install plumbing fixtures such as bathtubs, sinks,
                                        and toilets, and appliances, including dishwashers and washing machines.
                                        Experienced plumbers train apprentices and supervise helpers</p> -->
                                </div>
                            </div>
                            <div class="row mb-3"
                                *ngIf="profileData && profileData.skill && profileData.skill.length > 0">
                                <div class="col-md-12">
                                    <h1 class="text-center1 fw-light text-md-start">Skill</h1>
                                    <div class="mt-3">
                                        <span class="px-3 py-2 badge rounded-pill" *ngFor="let s of profileData.skill"
                                            style="background: rgba(140, 140, 140, 0.07);color: #535353; ">{{s.name}}
                                        </span>
                                        <!-- <span class="px-3 py-2 badge rounded-pill"
                                            style="background: rgba(140, 140, 140, 0.07);color: #535353; ">Leak
                                            Repair</span>
                                        <span class="px-3 py-2 badge rounded-pill"
                                            style="background: rgba(140, 140, 140, 0.07);color: #535353; ">Toilet
                                            Repair</span>
                                        <span class="px-3 py-2 my-3 badge rounded-pill"
                                            style="background: rgba(140, 140, 140, 0.07);color: #535353; ">Sewer
                                            Repair</span> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-12 col-md-12 col-12 ">
                <h2 *ngIf="roleId && roleId == 3">Welcome, {{profileData?.fname}} {{profileData?.lname}}</h2>
                <ul class="nav nav-pills pb-2 mb-2" id="pills-tab" role="tablist"
                    style="flex-wrap: nowrap;border-bottom: 1px solid #DCDCDC;" *ngIf="roleId && roleId == 2">
                    <li class="nav-item" role="presentation" style="cursor: pointer;">
                        <div class="nav-link active text-secondary pt-3 px-2 px-md-3 px-lg-3 px-xl-3 px-xxl-3 pb-1"
                            id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab"
                            aria-controls="pills-home" aria-selected="true">Availbale for</div>
                    </li>
                    <li class="nav-item" role="presentation" style="cursor: pointer;">
                        <div class="nav-link text-secondary  pt-3 px-2 px-md-3 px-lg-3 px-xl-3 px-xxl-3 pb-1"
                            id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab"
                            aria-controls="pills-profile" aria-selected="false">Reviews</div>
                    </li>
                    <li class="nav-item" role="presentation" style="cursor: pointer;">
                        <button class="nav-link text-secondary pt-3 px-2 px-md-3 px-lg-3 px-xl-3 px-xxl-3 pb-1"
                            id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
                            role="tab" aria-controls="pills-contact" aria-selected="false">Previous
                            Work</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <!-- first tab -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <!-- <div class="row mt-3" *ngIf="serviceListData">
                            <div class="col-md-6" *ngFor="let service of serviceListData.response_data">
                                <a [routerLink]="['/project-details', service.slug]" class="homefix_service_single">
                                    <div class="homefix_ser_single_inner">
                                        <div class="service_single_thumb">
                                            <img *ngIf="service.gallery && service.gallery[0] && service.gallery[0].file" [src]="serviceListData.image_path + service.gallery[0].file" onerror="this.src='assets/images/logo.png';" alt="">
                                            <img *ngIf="!service.gallery[0]" src='assets/images/logo.png' alt="">
                                        </div>
                                        <div class="service_single_title">
                                            <h3>{{service.title.length>15 ? (service.title | slice:0:15)+'...' : service.title}}</h3>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <div class="col-md-6" *ngIf="serviceListData && serviceListData.no_of_service_allow_to_add > 0">

                                <a [routerLink]="['/user-create-solution']">
                                    <div class="rounded-2 shadow-sm" style="height: 350px; border:1px #c7c7c7;">
                                        <div class="align-middle text-center create-solu m-5" style="padding-top: 110px;">
                                            <img src="./assets/images/Subtract.png" alt="">
                                            <p class="text-dark">Create a Solution</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                           
                        </div> -->

                        <div class="row justify-content-center1" *ngIf="serviceListData">

                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6"
                                *ngFor="let service of serviceListData.response_data">
                                <div class="proj_single_items mt-30 ">
                                    <div class="proj_single_inner">
                                        <a routerLink="/blog-details" class="proj_single_thumb d-block">
                                            <img [src]="service.gallery && service.gallery[0] && service.gallery[0].file ? serviceListData.image_path + service.gallery[0].file : ''"
                                                onerror="this.src='assets/images/no-image.png';" alt="">
                                        </a>

                                        <div class="proj_single_content">
                                            <div class="proj_single_cont_inner">

                                                <div class="proj_client_thumb">
                                                    <img [src]="profileData && profileData.avatar_url ? profileData.avatar_url : ''"
                                                        onerror="this.src='./assets/images/Group2094.png'" alt="">
                                                </div>

                                                <a href="javascript:void(0);" class="proj_client_name">
                                                    <h4 class="client_name">{{profileData?.fname}}
                                                        {{profileData?.lname}}</h4>
                                                    <span *ngFor="let c of countries"
                                                        [hidden]="profileData?.country_id != c.id">{{c.name}}</span>
                                                    <!-- <span>worker</span> -->
                                                </a>

                                                <div class="proj_ratting">
                                                    <span class="proj_raing_per">4.1</span>
                                                    <span class="proj_ver_star"><i class="icofont-ui-rating"></i></span>
                                                    <span class="proj_reviews">( 11 reviews)</span>
                                                </div>
                                            </div>

                                            <div class="proj_single_item_title">
                                                <a routerLink="/blog-details">
                                                    <h3 class="proj_single_item_tilte">{{service.title.length>36 ?
                                                        (service.title | slice:0:36)+'...' : service.title}} </h3>
                                                </a>
                                                <!-- <span class="proj_hours_area">$120/hour</span> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6"
                                *ngIf="serviceListData && serviceListData.no_of_service_allow_to_add > 0">

                                <a [routerLink]="['/user-create-solution']">
                                    <div class="rounded-2 shadow-sm" style="height: 350px; border:1px #c7c7c7;">
                                        <div class="align-middle text-center create-solu m-5"
                                            style="padding-top: 110px;">
                                            <img src="./assets/images/Subtract.png" alt="">
                                            <p class="text-dark">Create a Solution</p>
                                        </div>
                                    </div>
                                </a>
                            </div>

                            <!-- <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                <div class="proj_single_items mt-30 ">
                                    <div class="proj_single_inner">
                                        
                                        <a routerLink="/blog-details" class="proj_single_thumb d-block">
                                            <img src="assets/images/home/proj_1.png" alt="">
                                        </a>
                                        
                                        <div class="proj_single_content">
                                            <div class="proj_single_cont_inner">
                                                
                                                <div class="proj_client_thumb">
                                                    <img src="assets/images/home/proj_client_img.png" alt="">
                                                </div>
                                                
                                                <a href="#0" class="proj_client_name">
                                                    <h4 class="client_name">Bijoy Roy</h4>
                                                    <span>top worker</span>
                                                </a>
                                                
                                                <div class="proj_ratting">
                                                    <span class="proj_raing_per">4.1</span>
                                                    <span class="proj_ver_star"><i class="icofont-ui-rating"></i></span>
                                                    <span class="proj_reviews">( 11 reviews)</span>
                                                </div>
                                            </div>
                                            
                                            <div class="proj_single_item_title">
                                                <a routerLink="/blog-details">
                                                    <h3 class="proj_single_item_tilte">You will get solution for plumbing </h3>
                                                </a>
                                                <span class="proj_hours_area">$120/hour</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!-- project single item -->
                        </div>

                    </div>
                    <!-- first tab end -->
                    <!-- second tab -->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                        <div class="row pb-lg-4 border-bottom">
                            <div class="col-md-12">
                                <div>
                                    <h4>Reviews</h4>
                                    <p style="font-size: 13px;">Customers rated this pro highly for <span
                                            style="color: #00A3FF;">work quality, professionalism, </span>and
                                        <span style="color: #00A3FF;">responsiveness</span>.
                                    </p>
                                    <div class="row order-1">
                                        <div class="col-md-8 col-7">
                                            <p><span class="fw-light text-dark" style="font-size: 18px;">2
                                                    Reviews</span>
                                                <span class="text-warning ms-3">
                                                    <img src="./assets/images/star.png">
                                                    <img src="./assets/images/star.png">
                                                    <img src="./assets/images/star.png">
                                                    <img src="./assets/images/star.png">
                                                    <img src="./assets/images/star.png">
                                                    5
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-md-4 col-5 pt-3">
                                            <p style="font-size: smaller;">Sort By<select class="border-0"
                                                    aria-label=".form-select-sm example">
                                                    <option selected>Positive</option>
                                                    <option value="1">Negative</option>
                                                    <option value="2">Two</option>
                                                </select></p>


                                        </div>
                                        <div class="row order-2">
                                            <div class="col-md-8">
                                                <ul class="mx-0 px-0">

                                                    <li style="font-size: 14px;">
                                                        5 <img src="./assets/images/star3.png" class="img img-fluid"
                                                            alt="" srcset="">
                                                        <span style="width: 80%; border-radius: 10px;"
                                                            class="py-1 bg-warning d-inline-block"></span> 100%
                                                    </li>
                                                    <li style="font-size: 14px;">
                                                        4 <img src="./assets/images/star3.png" class="img img-fluid"
                                                            alt="" srcset="">
                                                        <span style="width: 80%; border-radius: 10px;"
                                                            class="py-1 bg-light d-inline-block"></span> 0%
                                                    </li>
                                                    <li style="font-size: 14px;">
                                                        3 <img src="./assets/images/star3.png" class="img img-fluid"
                                                            alt="" srcset="">
                                                        <span style="width: 80%; border-radius: 10px;"
                                                            class="py-1 bg-light d-inline-block"></span> 0%
                                                    </li>
                                                    <li style="font-size: 14px;">
                                                        2 <img src="./assets/images/star3.png" class="img img-fluid"
                                                            alt="" srcset="">
                                                        <span style="width: 80%; border-radius: 10px;"
                                                            class="py-1 bg-light d-inline-block"></span> 0%
                                                    </li>
                                                    <li style="font-size: 14px;">
                                                        1 <img src="./assets/images/star3.png" class="img img-fluid"
                                                            alt="" srcset="">
                                                        <span style="width: 80%; border-radius: 10px;"
                                                            class="py-1 bg-light d-inline-block"></span> 0%
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="row py-3 pb-lg-4 border-bottom">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="">
                                                        <img src="./assets/images/commentimg.png" alt="">

                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="line-height: 18px;"> <span style="font-size: 20px;"
                                                            class="me-3">Linuxdeo1</span> 5 <img
                                                            src="./assets/images/star.png" alt="" srcset="">
                                                        <br />
                                                        <span style="font-size: 12px;">New York</span>
                                                        <br />
                                                        <span style="font-size: 12px;">So good!!!!!! I'm
                                                            very
                                                            satisfied with this.</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-end">
                                                <img class="img-fluid" src="./assets/images/commentHouse.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12 ms-5 mt-3">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="text-lg-end">
                                                        <img src="./assets/images/Ellipse12.png" alt="">

                                                    </div>
                                                </div>
                                                <div class="col-md-10">
                                                    <p style="line-height: 18px;"> <span style="font-size: 20px;"
                                                            class="me-3">Musak
                                                            Khan</span> <br />
                                                        <span style="font-size: 12px;">Plumber</span>
                                                        <br />
                                                        <span style="font-size: 12px;">Thank You so much</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row py-3 pb-lg-4 border-bottom">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="">
                                                        <img src="./assets/images/commentimg.png" alt="">

                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="line-height: 18px;"> <span style="font-size: 20px;"
                                                            class="me-3">Linuxdeo1</span> 5 <img
                                                            src="./assets/images/star.png" alt="" srcset="">
                                                        <br />
                                                        <span style="font-size: 12px;">New York</span>
                                                        <br />
                                                        <span style="font-size: 12px;">So good!!!!!! I'm
                                                            very
                                                            satisfied with this.</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-end">
                                                <img class="img-fluid my-3 my-md-0 mx-md-3"
                                                    src="./assets/images/commentHouse.png" alt="">
                                                <img class="img-fluid" src="./assets/images/commentHouse.png" alt="">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row py-3 pb-lg-4 border-bottom">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="">
                                                        <img src="./assets/images/commentimg.png" alt="">

                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="line-height: 18px;"> <span style="font-size: 20px;"
                                                            class="me-3">Linuxdeo1</span> 5 <img
                                                            src="./assets/images/star.png" alt="" srcset="">
                                                        <br />
                                                        <span style="font-size: 12px;">New York</span>
                                                        <br />
                                                        <span style="font-size: 12px;">So good!!!!!! I'm
                                                            very
                                                            satisfied with this.</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-end">

                                                <img class="img-fluid" src="./assets/images/commentHouse.png" alt="">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row py-3 pb-lg-4 border-bottom">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="">
                                                        <img src="./assets/images/commentimg.png" alt="">

                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <p style="line-height: 18px;"> <span style="font-size: 20px;"
                                                            class="me-3">Linuxdeo1</span> 5 <img
                                                            src="./assets/images/star.png" alt="" srcset="">
                                                        <br />
                                                        <span style="font-size: 12px;">New York</span>
                                                        <br />
                                                        <span style="font-size: 12px;">So good!!!!!! I'm
                                                            very
                                                            satisfied with this.</span>
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="text-end">

                                                <img class="img-fluid" src="./assets/images/commentHouse.png" alt="">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- second tab end -->
                    <!-- third tab -->
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div>
                            <div class="row">
                                <div class="col-md-6 col-6 my-3 my-lg-0">
                                    <div class="text-center ">

                                        <img src="./assets/images/Rectangle128.png " class="img-fluid" width="356"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6 my-3 my-lg-0">
                                    <div class="text-center text-md-start">
                                        <img src="./assets/images/Rectangle129.png" class="img-fluid" width="356"
                                            alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="row my-lg-3">
                                <div class="col-md-6 col-6 my-3 my-lg-0">
                                    <div class="text-center ">

                                        <img src="./assets/images/Rectangle130.png " class="img-fluid" width="356"
                                            alt="">
                                    </div>
                                </div>
                                <div class="col-md-6 col-6 my-3 my-lg-0">
                                    <div class="text-center text-md-start">
                                        <img src="./assets/images/Rectangle131.png" class="img-fluid" width="356"
                                            alt="">
                                    </div>

                                </div>
                            </div>
                            <div class="text-center mt-5"><button class="btn btn-outline-primary rounded-0" [routerLink]="['/privious-work']">View
                                    all</button></div>
                        </div>
                    </div>
                    <!-- third tab end -->
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<!-- Homefix slider Area End -->
<app-footer></app-footer>